<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sociowatch</title
	<link href={{url_for('static',filename='bower_components/font-awesome/css/font-awesome.min.css')}} rel="stylesheet">
	<link rel="stylesheet" href={{url_for('static',filename='bower_components/materialize/dist/css/materialize.min.css')}}>
			<link rel="stylesheet" href={{url_for('static',filename='css/normalize.css')}}>
		<link rel="stylesheet" href={{url_for('static',filename='css/navbar.css')}}>
		<link rel="stylesheet" href={{url_for('static',filename='css/preloader.css')}}>
		<script src={{url_for('static',filename='bower_components/jquery/dist/jquery.min.js')}}></script>
		</head>
<body>
	<div class='navbar-fixed'>
	<nav>
		<div class="nav-wrapper">
	      <a class="brand-logo"><img class="responsive-img "src={{url_for('static',filename='images/logo.jpg')}}></a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li class="title"><div><b>Sociowatch</b></div></li>
	        <li><a href={{url_for('about')}}>About</a></li>
	        <li><a href={{url_for('govt_profiles')}}>Profiles</a></li>
	      </ul>
	    </div>
	  </nav>
	</div>
{% block body %}{% endblock %}
<div class="preloader loading">
 <span class="slice"></span>
 <span class="slice"></span>
 <span class="slice"></span>
 <span class="slice"></span>
 <span class="slice"></span>
 <span class="slice"></span>
</div>
</body>
<script src={{url_for('static',filename='bower_components/react/react.min.js')}}></script>
<script src={{url_for('static',filename='bower_components/react/react-dom.min.js')}}></script>
<script src={{url_for('static',filename='bower_components/babel/browser.min.js')}}></script>
<script src={{url_for('static',filename='bower_components/remarkable/dist/remarkable.min.js')}}></script>
<script src={{url_for('static',filename='bower_components/materialize/dist/js/materialize.min.js')}}></script>
<script src={{url_for('static',filename='js/utility.js')}}></script>
</html>
