{% extends "index.html" %}
 {% block body %}
 		<link rel="stylesheet" href={{url_for('static',filename='css/main.css')}}>
<div class="main-container">
	<script type="text/babel" src={{url_for('static',filename='js/main.js')}}></script>
  <script type="text/jsx"></script>

</div>
<div class="preloader loading">
 <span class="slice"></span>
 <span class="slice"></span>
 <span class="slice"></span>
 <span class="slice"></span>
 <span class="slice"></span>
 <span class="slice"></span>
</div>
{% endblock %}
