{% extends "layout.html" %}
{% block body %}
<h2>stats</h2>
<p>count : {{stats['count']}}</p>
<p>max_id time : {{stats['max_id']['created_at']}}</p>
<p>since_id time: {{stats['since_id']['created_at']}}</p>
<br>
<br>
<p><b>app_no : {{app_no}}</b></p>
<br>
<br>

<p>collect_historical data :
	<form action="{{ url_for('collect_historical_data',
    	twitter_handle=stats['twitter_handle']) }}" method="post">
 pages: <input name="pages" value="">
  <br>
  <button>get historical data</button>
</form></p>
<p>rate limit for current app credential : {{rate_limit['resources']['search']}}</p>





  {% for tweet in tweets %}
    <li><b>{{tweet['text']}}</b>    {{tweet['created_at']}}</li>
  {% endfor %}



{% endblock %}
